@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: #242424
}

body {
    max-width: 100%;
}

section {
    padding: 0px;
}

a {
    text-decoration: none;
}

h1 {
    padding: 200px 0px;
}

h3 {
    padding-bottom: 18px;
}

button {
    cursor: pointer;
}

select {
    padding: 8px;
    font-size: 18px;
}

.row {
    width: 100%;
    margin: 0px;
    
}

.container {
    padding: 0px;
    width: 100%;
    display: flex;
}

.sorting__wrapper{
    padding: 12px;
    display: flex;
    justify-content: flex-end;
}


/* NAV BAR */

nav {
    display: flex;
    background-color: #242424;

}

.nav__row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0px;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.nav__logo--img {
    padding: 0px;
    margin: 0px;
}

.nav__links {
    display: flex;
    padding: 0px;
}

.nav__link {
    font-size: 16px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.75px;
    border-bottom: 2px solid transparent;
    position: relative;
    margin: 0px 18px;

}

.nav__logo--img {
    height: 75px;
}

.link__hover-effect {
    position:relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width:0;
    right:0;
    transition: all 300ms ease;
}

.link__hover-effect--black:after {
    background-color: #242424;
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}


/* LANDING PAGE */

.landing__wrapper {
    padding: 24px 12px;
    position: relative;
}

.landing__wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/fetchbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}

.landing__title {
    color: #242424;
    font-size: 42px;
    text-align: center;
}

.searchbar__wrapper {
    text-align: center;
    padding-bottom: 260px;
}

.searchbar {
    font-size: 26px;
    border-radius: 6px;
    padding: 8px;
}

.searchbar__button {
    border-radius: 6px;
    font-size: 26px;
    padding: 8px;
}


/* FOOTER */

footer {
    display: flex;
}

.footer {
    background-color: #242424;
    display: flex;
}


.footer__row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0px;
    width: 100%;
}

.footer__links {
    width: 100%;
    padding: 32px 200px;
}

.footer__link {
    font-size: 16px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.75px;
    border-bottom: 2px solid transparent;
    position: relative;
    margin: 0px 18px;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 12px 0px;

}

.footer__wrapper {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 12px 0px;
}

.footer__link:hover{
    border: 3px;

}


/* ALL BREEDS PAGE */

.allbreeds__wrapper {
    background-color: #c1c0bf;
}


.dogbreed-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.user {
  width: 50%;
}

.user-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
}

.user-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.user-card__container {
  padding: 32px;

}
