@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: #242424
}

body {
    max-width: 100%;
}

section {
    padding: 0px;
}

a {
    text-decoration: none;
}

h1 {
    padding: 200px 0px;
}

.row {
    width: 100%;
    margin: 0px;
    
}

.container {
    padding: 0px;
    width: 100%;
}



/* NAV BAR */

nav {
    display: flex;
    background-color: #242424;

}

.nav__row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0px;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.nav__logo--img {
    padding: 0px;
    margin: 0px;
}

.nav__links {
    display: flex;
    padding: 0px;
}

.nav__link {
    font-size: 16px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.75px;
    border-bottom: 2px solid transparent;
    position: relative;
    margin: 0px 18px;

}

.nav__logo--img {
    height: 75px;
}

/* LANDING PAGE */

.landing__wrapper {
padding: 24px 12px;
}

.landing__title {
    color: #242424;
    font-size: 42px;
    text-align: center;
}

.searchbar__wrapper {
    text-align: center;
    padding-bottom: 260px;
}

.searchbar {
    font-size: 26px;
    border-radius: 6px;
    padding: 8px;
}

.searchbar__button {
    border-radius: 6px;
    font-size: 26px;
    padding: 8px;
}


/* FOOTER */

footer {
    display: flex;
}

.footer {
    background-color: #242424;
    display: flex;
}


.footer__row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0px;
    width: 100%;
}

.footer__links {
    display: flex;
    padding: 0px;
    width: 100%;
    padding-bottom: 12px;
}

.footer__link {
    font-size: 16px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.75px;
    border-bottom: 2px solid transparent;
    position: relative;
    margin: 0px 18px;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 12px 0px;

}

.footer__wrapper {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 12px 0px;
}